# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# VSCode
.vscode/

# Netbrans
nbproject/
nbactions.xml

node_modules/
.env
coverage/
videos/
screenshots/
build/